<form >
  {{textarea rows = "4" cols = "50" value=answer id="answer" placeholder = "Help Answer This Question!"}}
  <br />
  {{input value=author id="author" placeholder = "Your Name Here"}}
  <button {{action 'saveAnswer'}}>Save</button>
</form>
