<div class = "container">
  <div class="jumbotron">
    <h1>Ember Quora</h1>
    <p>Ask and answer questions! Spread the knowledge!</p>
  </div>
  <div class = "row">
  <div class = "col-sm-8">
{{outlet}}
</div>

<div class = "col-sm-4 sidebar">
<img src = "http://hipsterjew.com/wp-content/uploads/2013/02/url2.jpeg" width = "220" height = "320">
{{#link-to 'about'}}About{{/link-to}}

</div>
</div>


<footer>

{{#link-to 'index'}}Home{{/link-to}}
</footer>
</div>
