

{{#each model as |question|}}
{{#link-to 'question' question.id}}<li>Question: {{question.question}}</li>{{/link-to}}
<li>Author: {{question.author}}</li>
<li>Date Posted: {{question.date}}</li>

<hr />

{{/each}}
<hr />

{{new-question savePost='savePost'}}
